@{
    ViewData["Title"] = "PrivacyPolicy";
}


<style>
    h1 {
        color: #33546D;
        font-size: 50px;
        margin-left: 70px;
        font-weight: bold;
    }

    p1 {
        color: #000000;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 10px;
    }

    p2 {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 10px;
    }
</style>

<h1>ABOUT US</h1><hr />

<p2>Opis</p2>
<br>
<p1>
    "2nd TIME" je softver koji omogućava njegovim korisnicima da prodaju vlastitu odjeću/obuću, ali i da kupuju garderobu po veoma niskim cijenama. U našoj zemlji "second hand" prodavnice nisu najbolje organizovane, te imaju veoma mali izbor garderobe, dok u drugim zemljama "trifting" je postao veoma popularan način kupovine odjeće koji je jeftiniji i bolji za okoliš od kupovine nove garderobe. Kupnja jednog korištenog predmeta smanjuje njegov udio ugljika, otpada i vode za 82%. Uz sve pogodnosti za okoliš, ovim softverom će ljudi moći zaraditi i riješiti se garderobe koja im zauzima mjesto i stvara nered.
</p1>
<br>
<br>
<p2>Funkcionalnosti</p2>
<br>
<p1>
    Pri pokretanju softvera bit će omogućeno ulogovanje ili kreacija novog korisničkog računa u cilju kupovine i prodaje artikala, dok za pregled svih artikala logovanje neće biti obavezno. Na aplikaciji će se nalaziti preglednik s detaljnim filterima za lakše pretraživanje. Prilikom kreiranja korisničkog računa potrebno je dodati sve tačne informacije (ime, prezime, e-mail, grad) i onda će korisniku biti dostupna vlastita korpa. Registrovani korisnik će moći sam objavljivati vlastitu odjeću/obuću koju će moći detaljno opisati (vrsta, veličina, boja, marka...). Ukoliko namjerava da kupi neki ponuđeni artikal potrebno je da isti "smjesti" u korpu iz koje će se dalje vršiti kupovina. Svaki korisnik će imati vlastitu ocjenu, kao i recenzije koje su pisali drugi korisnici programa. Administrator će imati mogućnost da deaktivacije neprimjerenih korisničkih računa ili brisanje artikala.
</p1>
<br>
<br>
<p2>
    Kontaktirajte nas na CekerHend@gmail.com!
</p2>
