@model SecondHand.Models.Clothing

<head>
    <style>
        .container {
            position: relative;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        input[type=number] {
            float: right;
            box-sizing: border-box;
            color: #000000;
            font-size: 10px;
            background-color: #A6DAF3;
            border-radius: 20px;
            border: 2px solid #000000;
            margin-bottom: 10px;
        }

        input[type=submit] {
            float: right;
            background-color: #33546D;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
        }

        p1 {
            color: #000000;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 10px;
        }
    </style>
</head>

<style>
    h1 {
        color: #33546D;
        font-size: 50px;
        margin-left: 70px;
        font-weight: bold;
    }
</style>


<h1>SEARCH CLOTHING</h1>
<hr />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/Shop/Pretraga">Filter</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Shop">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/AccessoriesView">Accessories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/ShoesView">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Shop/ClothingView">Clothing</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form asp-action="PretragaClothing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"><p1>Color:</p1></label>
                <select style="        box-sizing: border-box;
        border-radius: 20px;
        float: right;
        color: #000000;
        font-size: 10px;
        background-color: #A6DAF3;
        border: 2px solid #000000;
        margin-bottom: 15px;" asp-for="Color" class="form-control" asp-items="Html.GetEnumSelectList<Color>()">
                    >
                </select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"><p1>Material:</p1></label>
                <select style="        box-sizing: border-box;
        border-radius: 20px;
        float: right;
        color: #000000;
        font-size: 10px;
        background-color: #A6DAF3;
        border: 2px solid #000000;
        margin-bottom: 15px;" asp-for="Material" class="form-control" asp-items="Html.GetEnumSelectList<Material>()">
                    >
                </select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"><p1>Condition:</p1></label>
                <select style="        box-sizing: border-box;
        border-radius: 20px;
        float: right;
        color: #000000;
        font-size: 10px;
        background-color: #A6DAF3;
        border: 2px solid #000000;
        margin-bottom: 15px;" asp-for="Condition" class="form-control" asp-items="Html.GetEnumSelectList<Condition>()">
                    >
                </select>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"><p1>Brand:</p1></label>
                <select style="        box-sizing: border-box;
        border-radius: 20px;
        float: right;
        color: #000000;
        font-size: 10px;
        background-color: #A6DAF3;
        border: 2px solid #000000;
        margin-bottom: 15px;" asp-for="Brand" class="form-control" asp-items="Html.GetEnumSelectList<Brand>()"></select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"><p1>Gender:</p1></label>
                <select style="        box-sizing: border-box;
        border-radius: 20px;
        float: right;
        color: #000000;
        font-size: 10px;
        background-color: #A6DAF3;
        border: 2px solid #000000;
        margin-bottom: 15px;" asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Pretraga">Back to Pretraga</a>
</div>

