@model IEnumerable<SecondHand.Models.AUser>

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        color: #33546D;
        font-size: 50px;
        margin:20px;
        font-weight: bold;
    }


    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #F1485B;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        width: 70px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .center {
        display: inline-block;
        margin: 0;
        position: inherit;
        top: inherit;
        left: inherit;
        <ms-transform: translate(-50%, -50%);
        <transform: translate(-50%, -50%);
    }

    p1 {
        color: #000000;
        font-size: 25px;
        margin-left: 5px;
        margin-right: 10px;
    }

    p2 {
        font-size: 30px;
        margin: 20px;
        color: #33546D;
        font-weight: bold;
    }
</style>


<h1>ADMINISTRATOR PAGE</h1>
<hr />

   
    <p2>Trenutno registrovanih korisnika: @Model.Count()</p2>

<hr/>

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="w3-quarter">
                        <p1> @item.korisnik.Email</p1>
                        <br> </br>

                        <div class="center">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <button class="button" style="vertical-align:inherit"><span>Details</span></button>
                            </a>

                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
